<div class="row gy-4">
	<div class="col-12 col-lg-8">
		<div class="app-card app-card-account shadow-sm d-flex flex-column align-items-start">
			<div class="app-card-body p-4 w-100">
				<table class="table">
					<thead>
						<tr>
							<th>#</th>
							<th>Bus Code</th>
							<th>Capacity</th>
						</tr>
					</thead>
					<tbody>
						<tr *ngFor="let bus of buses; trackBy:buses.id; let i = index">
							<td>{{i+1}}</td>
							<td>{{bus.code}}</td>
							<td>{{bus.capacity}}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>

	<div class="col-12 col-lg-4">
		<div class="card shadow-sm d-flex flex-column align-items-start">
			<div class="card-body p-4 w-100">
				<div class="alert alert-danger alert-dismissible fade show text-center" role="alert" *ngIf="f.submitted && errorMessage != ''">
					{{ errorMessage }}
				</div>
				<div class="alert alert-success alert-dismissible fade show text-center" role="alert" *ngIf="f.submitted && successMessage != ''">
					{{ successMessage }}
				</div>
				<form #f="ngForm" [formGroup]="addBusForm" (ngSubmit)="onSubmit()">
					<div class="alert alert-danger alert-dismissible fade show text-center" role="alert" *ngIf="f.submitted && errorMessage != ''">{{errorMessage}}</div>
					<div class="mb-3">
						<label for="busCode" class="form-label">Bus Code</label>
						<input type="text" class="form-control" id="busCode" formControlName="code" required="required">
					</div>
					<div class="mb-3">
						<label for="capacity" class="form-label">Capacity</label>
						<input type="number" class="form-control" id="capacity" formControlName="capacity" required="required">
					</div>
					<div class="mb-3">
						<label for="model" class="form-label">Make/Model</label>
						<input type="text" class="form-control" id="model" formControlName="make" required="required">
					</div>
					<div>
						<button type="submit" class="btn app-btn-primary theme-btn">Add Bus</button>
					</div>
				</form>
			</div>
		</div>
	</div>
	
</div>